<%# CSS・・・assets/stylesheets/shared/header.scss %>
<header class='top-page-header'>
  <div class="header-contents">
    <div class="header-title">
    <%= link_to 'ブックイック', "/", class: "home-title" %>
    </div>
    <div class='search-bar-contents'>
      <%= form_with(url: search_books_path, method: :get, local: true, class: "search-form") do |form|%>
        <%= form.text_field :keyword, placeholder: 'キーワードから探す', class:'input-box'%>
        <%= form.submit '検索', class:"search-icon" %>
      <% end %>
    </div>
  </div>
    <div class='nav'>
      <ul class='lists-left'>
        <li><%= link_to 'ジャンル一覧', "#", class:"genre-list", id:"genre-list" %></li>
      </ul>
        <div class="sub-nav">
          <ul class="show-genre hidden", id="pull-down">
            <% if user_signed_in?%>
            <% @genre.each do |genre| %>
              <li><%= genre.name%></li>
            <% end %>
            <% end %>
          </ul>
        </div>
      <ul class='lists-right'>
        <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else%>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <% end%>
      </ul>
    </div>
  </div>
</header>