<%= render "shared/header" %> 
<div class='main'>

  <div class='title-contents'>
    <h1 class='service-title'>
      ブックイックで本の内容と感想を共有
    </h1>
    <p class='service-explain'>
      失敗しない本選び
    </P>
    <p class='service-explain'>
      効率的に学びたい方のためのアプリです
    </P>
  </div>

  <div class='book-contents'>
    <div class='book-index'>
    <h2 class='index-title'>-投稿書籍一覧-</h2>
    </div>
    <ul class='book-lists'>
      <div class='list'>
        <% @books.each do |book| %>
          <%= link_to book_path(book.id) do %>
          <div class='book-image-content'>
          <%= image_tag book.image, class: "book-image" %>
          </div>
          <div class='book-info'>
              <p class='book-title'>
                <%= "書籍名：#{book.title}" %>
              </p>
              <p class='book-author'>
                <%= "著者：#{book.author}" %>
              </p>
              <div class='book-story'>
                <%= "あらすじ：#{book.story}" %>
              </div>
              <div class="user-name">
                <%= "投稿者：#{book.user.name}"%>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </ul>
  </div>
</div>
<%= link_to( new_book_path, class: 'purchase-btn') do %>
  <%= image_tag 'icon-pen.jpg' , size: '75x75' ,class: "purchase-btn-icon" %>
  <span class='purchase-btn-text'>投稿する</span>
<% end %>
<%= render "shared/footer" %>