<%= render "shared/header" %> 
<div class='main'>

  <div class='title-contents'>
    <h1 class='service-title'>
      失敗しない本選び
    </h1>
    <p class='service-explain'>
      ブックイックで本の内容と感想を共有
    </P>
    <p class='service-explain'>
      効率的に学びたい方のためのアプリです
    </P>
  </div>

  <div class='book-contents'>
    <h2 class='title'>投稿書籍一覧</h2>
    <ul class='book-lists'>
      <li class='list'>
        <%# <% @books.each do |book| %>
          <%= link_to '#' do %>
          <div class='book-info'>
            <h2 class='book-title'>
              <%= "book-title" %>
            </h2>
              <div class='book-author'>
                <%= "book-author" %>
              </div>
              <div class='book-story'>
                <%= "story" %>
              </div>
              <div class="user-name">
              <%= "user-name"%>
              </div>
          </div>
          <div class='book-image-content'>
          <%= image_tag "", class: "item-image" %>
          </div>

          </div>
          <% end %>

        <%# <% end %>
    </ul>
  </div>
</div>
<%= link_to( "#", class: 'purchase-btn') do %>
  <%= image_tag 'icon-pen.jpg' , size: '75x75' ,class: "purchase-btn-icon" %>
  <span class='purchase-btn-text'>投稿する</span>
<% end %>
<%= render "shared/footer" %>