<%= render "shared/header" %> 
<div class="book-contents">

  <div class="book-main">
    <h2 class="items-sell-title">書籍の投稿内容を入力してください</h2>
    <%= form_with( model: @book_author_object, url: books_path, local: true) do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%= render 'shared/error_messages', model: @book_author_object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# 出品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"book-image" %>
      </div>
    </div>
    <%# /出品画像 %>

    <%# 書籍名と著者名 %>
    <div class="new-book">
      <div class="weight-bold-text">
        書籍名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, id:"book-name", placeholder:"書籍名（必須）", maxlength:"40" %>
      <div class="book-author">
        <div class="weight-bold-text">
          著者
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :name, class:"book-text", id:"book-info", placeholder:"著者名を入力してください" , maxlength:"30" %>
      </div>
    </div>
    <%# 書籍名と著者名 %>

    <%# 書籍のあらすじと感想 %>
    <div class="book-contents">
      <div class="weight-bold-text">書籍のあらすじを入力</div>
        <%= f.text_area :story, class:"book-story", id:"book-story", placeholder:"あらすじを入力してください（必須）", maxlength:"2000" %>
      <div class="book-review">
        <div class="weight-bold-text">
          書籍の感想を入力
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :review, class:"book-review", id:"book-review", placeholder:"感想を入力してください" , maxlength:"5000" %>
    </div>
    <%# /商品の詳細 %>

    <%# 書籍のジャンルにについて %>
    <div class="book-genre">
      <div class="weight-bold-text question-text">
        <span>ジャンル</span>
      </div>
      <div class="form">
        <div class="weight-bold-text">
          ジャンルを選択してください
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"book-genre-status"}) %>
      </div>
    </div>
    <%# /書籍のジャンルについて %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
