<%= render "shared/header" %> 

<div class="book-contents">

  <div class="book-main">
<%= render 'shared/error_messages', model: @book_author_object %>
    <h2 class="book-post-content">-書籍の投稿内容を入力してください-</h2>
    <%= form_with( model: @book_author_object, url: books_path, local: true) do |f| %>


    <div class="img-upload">
      <div class="weight-bold-text">
        書籍イメージ
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"book-image" %>
      </div>
    </div>

    <div class="new-book">
      <div class="book-title">
        <div class="weight-bold-text">
          書籍名
        <span class="indispensable">必須</span>
        </div>
      </div>
      <%= f.text_area :title, class: "title",id:"title", placeholder:"書籍名", maxlength:"40" %>
      <div class="book-author">
        <div class="weight-bold-text">
          著者
          <span class="indispensable">必須</span>
        </div>
      </div>
        <%= f.text_area :name, class:"author", id:"author", placeholder:"著者名を入力してください" , maxlength:"30" %>

      <div class='book-story'>
        <div class="weight-bold-text">
          書籍のあらすじを入力
          <span class="indispensable">必須</span>
        </div>
      </div>
        <%= f.text_area :story, class:"story", id:"story", placeholder:"あらすじを入力してください", maxlength:"2000" %>
      <div class="review">
        <div class="weight-bold-text">
          書籍の感想を入力
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :review, class:"book-review", id:"book-review", placeholder:"感想を入力してください" , maxlength:"5000" %>
    </div>

    <div class="book-genre">
      <div class="weight-bold-text genre">
        <span>ジャンル</span>
      </div>
      <div class="form">
        <div class="sellect-genre">
          ジャンルを選択してください
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"book-genre-status"}) %>
      </div>
    </div>

    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
