<%= render "shared/header" %> 


<div class="book-show">
  <div class="book-box">
    <div class="show-book-image-content">
    <%= image_tag @book.image ,class:"show-book-box-img"%>
    </div>
    <div class="book-explain">
    -書籍名-
    </div>
    <div class="show-book-title">
      <%= "#{ @book.title}"%>
    </div>
    <div class="book-explain">
    -著者-
    </div>
    <div class="show-book-author">
      <%= @book.author %>
    </div>
    <div class="book-explain">
    -あらすじ-
    </div>

    <div class="show-book-story">
      <%= "#{ @book.story}"%>
    </div>
    <div class="book-explain">
    -感想-
    </div>

    <div class="show-book-review">
      <%= "#{ @book.review}"%>
    </div>

    <% if user_signed_in? && current_user.id == @book.user.id %>


    <div class="edit-destroy-btn">
    <%= link_to '編集', edit_book_path(@book.id), method: :get, class: "book-edit-btn"%>
    <%= link_to '削除', book_path, method: :delete, class:'book-destroy-btn'%>
    </div>
    <% else %>
    <% end %>


  </div>

  <div class="comment-box">
    <%= form_with(model: [@book, @comment], local: true) do|form| %>
      <%= form.text_area :content, class: "comment-text",id: "comment-text", placeholder: "コメントする", rows: "2" %>
      <%= form.submit "コメントする", class: "comment-btn" %>
      <% end %>
      <div class = "comments" >
        <div class = "comment-list">
          -コメント一覧-
        </div>
        <% @comments.each do|comment| %>
        <div class="comment">
          <div class="comment-text">
          <%= comment.content %>
          ：投稿者
          <%= comment.user.nickname%>
          </div>
        </div>

        <% end %>
      </div>
  </div>
</div>

<%= render "shared/footer" %>