<%= render "shared/header" %> 

    <ul class='book-lists'>
      <div class='list'>
        <% if @books.length !=   0 %>
        <% @books.each do |book| %>
          <%= link_to book_path(book.id) do %>
          <div class='book-image-content'>
          <%= image_tag book.image, class: "book-image" %>
          </div>
          <div class='book-info'>
              <p class='book-title'>
                <%= "書籍名：#{book.title}" %>
              </p>
              <p class='book-author'>
                <%= "著者：#{book.author}" %>
              </p>
              <div class='book-story'>
                <%= "あらすじ：#{book.story}" %>
              </div>
              <div class="user-name">
                <%= "投稿者：#{book.user.nickname}"%>
              </div>
            </div>
          <% end %>
        <% end %>
        <% else %>
        <div class="no-sort">
          <ul class="sort-message">指定されたジャンルの投稿はまだされていません。
          </ul>
        </div>
        <% end %>
      </div>
    </ul>
  <div class= "back">
    <%= link_to '一覧に戻る', root_path, class: "book_back_btn" %>
  </div>


<%= render "shared/footer" %>
